.control-button {
    padding: 5px;
    border: 5px solid yellow;
    border-radius: 10px;
    background-color: orange;
    font-size: 200%;
    font-weight: bold;
    color: white;
    width: 8em;
    height: 4em;
    position: relative;
}

.button-container {
    width: 90%;
}